/*general*/
body{background-color: #fff;
    font-family: RobotoCondensed-Italic;
    font-size: 2.5em;
    text-align: center;
    color: #fff;
}
a{
    
}

h1{
    
}

h2{
    
}

h3{
    
}

h4{
    
}

h5{
    
}

h6{
    
}

p{
    
}

/*general*/


/*section wrapper*/
.cd-slider-wrapper{
    width: 100%;
    position: relative;
  height: 95vh;
  /* hide horizontal scrollbar on IE11 */
  overflow: hidden;
}
/*section wrapper*/
/*ul slider1*/
.cd-slider{
   
    height: 100%;
    width: 100%;
    overflow: hidden;
}
.visible1{
    background: url(../img/background/buger.jpg);
    background-size: cover;
}

/*ul slider1*/
.cd-slider li{
    height: 100%;
    width: 100%;
    position: absolute;
/*  opacity: 0;*/
    display: table;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
    }

.cd-slider > li.visible {
  /* selected slide */
  position: relative;
  z-index: 2;
  opacity: 1;
}


/*navigation*/
.cd-slider-navigation {
  position: absolute;
  bottom: 50px;
  left: 50%;
  right: auto;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: 3;
  text-align: center;
  width: 90%;
}

.cd-slider-navigation li {
  display: inline-block;
  margin-right: 20px;
}

.cd-slider-navigation li:last-of-type {
  margin-right: 0;
}


.cd-slider-navigation::after {
  clear: both;
  content: "";
  display: table;
}



.cd-slider-navigation a {
  display: block;
  position: relative;
  height: 40px;
  width: 40px;
  background: url(../img/PNG/Food&Drink(59) no-repeat -10px -10px;
  border-radius: 50%;
  background-color: #ffffff;
}





.cd-slider-navigation em {
  /* tooltip visible on hover */
  position: absolute;
  bottom: calc(100% + 10px);
  left: 50%;
  padding: 8px 10px;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.7);
  white-space: nowrap;
  font-size: 1.3rem;
  border-radius: 2px;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateX(-50%) translateY(3px);
  -moz-transform: translateX(-50%) translateY(3px);
  -ms-transform: translateX(-50%) translateY(3px);
  -o-transform: translateX(-50%) translateY(3px);
  transform: translateX(-50%) translateY(3px);
  -webkit-transition: opacity 0.2s 0s, visibility 0s 0.2s, -webkit-transform 0.2s 0s;
  -moz-transition: opacity 0.2s 0s, visibility 0s 0.2s, -moz-transform 0.2s 0s;
  transition: opacity 0.2s 0s, visibility 0s 0.2s, transform 0.2s 0s;
}
/*navigation*/

/*button*/
.no-touch .cd-slider > li .cd-btn:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
.cd-slider > li .cd-btn {
  display: inline-block;
  padding: 1.2em 1.4em;
  margin-top: .8em;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: .25em;
  font-size: 1.3rem;
  font-weight: 700;
  letter-spacing: 1px;
  color: #ffffff;
  text-transform: uppercase;
  -webkit-transition: background-color 0.2s;
  -moz-transition: background-color 0.2s;
  transition: background-color 0.2s;
}


/*button*/